.cardImages {
  display: flex;
  flex-direction: column;
}
.cardTopImg img {
  width: 100%;
}

.primaryBtn {
  background-color: var(--dh-primary);
  color: var(--dh-white);
  padding: 15px 20px 13px;
  border-radius: 20px;
  font-size: 30px;
  text-decoration: none;
}

.primaryBtn:hover{
  text-decoration: none;
  color: var(--dh-white);
  background-color: var(--dh-primary-dark);
}

.cardName {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
}

.cardDetail {
  font-size: 16px;
  font-style: italic;
}

