.cardText{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.cardText p{
  margin: 20px auto;
}

@media(max-width: 680px) {
  .cardText {
    margin-bottom: 40px;
  }
}