@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dh-primary: #CDA274;
  --dh-white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container{
  max-width: 1260px;
  margin: auto;
}